- content_for :head do
  %style{ :type => "text/css" }
= error_messages_for "product"
%fieldset
  %dl
    %dt.form-label
      Title:
    %dd.form-option
      = f.text_field :title, :class => "big"
    %dt.form-label
      = f.label :active, "Active"
    %dd.form-option
      = f.check_box :active
    %dt.form-label
      = f.label :blurb
    %dd.form-option
      = f.text_area :blurb, :size => "50x5"
    %dt.form-label
      = f.label :description
    %dd.form-option
      = f.text_area :description, :size => "75x15", :class => "mceEditor"
    %dt.form-label
      .product_options{:id => "product_options"}
        Donation Options
        -if !@product.product_options.empty?
          = render :partial => 'product_option', :collection => @product.product_options 
        -else
          = render :partial => 'product_option', :object => @product.product_options.build
      = add_product_option_link "Add option"
    - unless @product_categories.empty?
      %dt.form-label
        Donation Category:
      %dd.form-option
        - build_form_children(nil, @product)  

  - fancy_submit admin_products_path do
    = f.submit "Save Donation"

